body{
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            font-size: 20px;
        }
        
        h2{
            font-size: 35px;
        }
        
        h1{
            font-size: 45px;
        }
        .error{
            color: red;
            font-size: 1rem;
        }
        .discount_container{
            select{
                max-width: 300px;
            }
            #descuentos{
                display: none;
            }
            #numdescuento{
                min-width: 150px;
            }
            form{
                display: flex;
                flex-direction: column;
            }
        }
        .text-container{
            #numerocuentas{
                display: flex;
                flex-direction: row;
                #sumaresta{
                    display: flex;
                    flex-direction: row;
                    button{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }
        .products_container{
            background-color: rgb(231, 231, 231);
            .products{
                display: flex;
                justify-content: space-around;
                button{
                    border-style: hidden;
                    width: 30px;
                    background-color: rgb(231, 231, 231);
                }
                .tachado{
                        text-decoration: line-through;
                }
                select{
                    width: 50px;
                }
                i{
                    font-size: 28px;
                    margin-left: 15px;
                    display: inline-block;
                    position: relative;
                    right: 18px;
                    }
                
                .edit_icon{
                    font-size: 25px;
                    color: green;
                }
                .error_icon{
                    color: green;
                    position: relative;
                    font-size: 25px;
            }
            .disabled_icon{
                color: grey;
            }
            }

    }
}}

